@media screen and (min-width: 768px) {

header h1 {
    font-family: 'Press Start 2P', 'Silkscreen', cursive;
    position:absolute;
    font-weight:400;
    color:white;
    margin: 0 auto;
    font-size: 4em;
}

header h2 {

    font-family: 'Silkscreen', cursive;
    font-weight:400;
    color:white;
    margin: 0 auto;
    padding-top: 5em;
}
h3 {

  font-family: 'Silkscreen', cursive;
  font-size: 12px;
  font-weight:400;
  color:white;
  margin: 0 auto;
  margin-top: 2.5em;
  padding-top: 15em;
  position: absolute;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform:rotate(90deg) scale(2.2);

}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

nav.socials {
    position: relative;
    text-align: center;
    display: flex;
    top: -300px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
  
ul > li {
    display: inline-block;
    color: white;
}



}
nav {
    position: absolute;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

li:hover {
    color: #44b78b;
}

svg:hover {
    color: #44b78b;
}

a {
    color: inherit;
}

ul.skills {
  font-family: 'Silkscreen', cursive;
  font-size: 12px;
  color:white;
  margin: 0 auto;
  padding-top: 25em;
  padding-bottom: 2em;
  position: absolute;
}

#remote {

    position: relative;
    text-align: center;
    display: flex;
    top: -300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    opacity: 0.25;
}


.project-title {
    font-family: "Silkscreen", Arial;
    text-align: center;
}

#projects {
    display:block;
   
    list-style-type: none;
    overflow: hidden;
    display: flex;

}

#projects div {
    margin-top: 15px;
}

#projects .site {
    list-style-type: none;
    overflow: hidden;
    width: 450px;
    margin: 2em;

}


@media screen and (max-width: 767px) {


    h1 {
       color:red;
       font-family: 'Silkscreen', cursive;
    }
    #projects .site {
        list-style-type: none;
        overflow: hidden;
        width: 150;
        margin: 1em;
    
    }

}

